<!DOCTYPE html>
<html>
    <head>
        <meta charset="{+IO.encoding+}" />
        <title>API Document</title>
        <meta name="generator" content="JsDoc Toolkit" />
        <style>
            {+include("static/style.css")+}
        </style>
    </head>    
    <body>
        <div id="page">
            {+include("static/header.html")+}            
            <div id="content">
                <div class="layout">
                    <div class="col-main">
                        <div class="main-wrap">
                            <h2 class="classTitle">Class Index</h2>
                            <ul class="list detail-list">
                                <for each="thisClass" in="data">
                                <li>
                                    <b class="name">{+(new Link().toSymbol(thisClass.alias))+}</b>
                                    <span class="desc">{+resolveLinks(summarize(thisClass.classDesc))+}</span>
                                </li>
                                </for>
                            </ul>
                            {+include("static/comment.html")+}
                        </div>
                    </div>
                    <div class="col-sub">
                        {+publish.classesIndex+}
                    </div>
                </div>
            </div>
            {+include("static/footer.html")+}
        </dvi>
    </body>
</html>